{% comment %} 
References 
W3Schools (no date) HTML select tag. Available at: https://www.w3schools.com/tags/tag_select.asp (accessed 10 October 2022).
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Add Asset</title>
   </head>
    <body>
      <div class="container">

         {% for message in messages %}
         <div class="alert alert-primary" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         {% endfor %}

        <h6>You are logged in as {{ forename }}.</h6>  
        <h1>Food Alert Asset Manager</h1>
        <h2>Add Your Asset</h2>   

        <form action="/save_asset" method="post">
        {%csrf_token%}
            <label class="form-label"> Name </label>
            <input class="form-control" type="text" id="name" name="name" Required/>
            <br>

            <label class="form-label"> Type </label>
            <select class="form-control" name="type" id="type" Required/>
                <option value="Mac">Mac</option>
                <option value="Windows Laptop">Windows Laptop</option>
                <option value="Windows VM">Windows VM</option>
            </select>
            <br>

            <label class="form-label"> Brand </label>
            <select class="form-control"  name="brand" id="brand" Required/>
                <option value="Dell">DELL</option>
                <option value="HP">HP</option>
                <option value="Lenovo">Lenovo</option>
                <option value="Acer">Acer</option>
                <option value="Asus">Asus</option>
            </select>
            <br>

            <label class="form-label"> Model Number </label>
            <input class="form-control" type="text" id="model_number" name="model_number" Required/>
            <br>

            <label class="form-label"> Serial Number </label>
            <input class="form-control" type="text" id="serial_number" name="serial_number" Required/>
            <br>

            <label class="form-label"> Registration Date </label>
            <input class="form-control" type="date" id="registration_date" name="registration_date" Required/>
            <br>

            <label class="form-label"> Warranty </label>
            <input class="form-control" type="checkbox" id="warranty" name="warranty" value="false" Required/>
            <br>

            <label class="form-label"> Warranty Expiry </label>
            <input class="form-control" type="date" id="warranty_expiry" name="warranty_expiry"/>                        
            <br>

            <label class="form-label"> Personal Device </label>
            <input class="form-control" type="checkbox" id="personal_device" name="personal_device" value="false" Required/>                        
            <br>

            <label class="form-label"> Location </label>
            <input class="form-control" type="text" id="location" name="location" Required/>
            <br>

            <button class="btn" type="submit">Save Asset</button>
            <button class="btn"><a href="/all_assets" class="button">View All Assets</a></button>
        </form>           
        </div>
    </body>
</html>